version: "3.7"
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DB_HOST: db
      DB_DATABASE: influencer
      DB_USERNAME: root
      DB_PASSWORD: root
    ports:
      - 8080:8080
    depends_on:
      - db
    networks:
      - app
    volumes:
      - .:/app

  db:
    image: mysql:5.7.22
    environment:
      MYSQL_DATABASE: influencer
      MYSQL_PASSWORD: root
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./storage/dbdata:/var/lib/mysql
    ports:
      - 33066:3306
    networks:
      - app
networks:
  app:
